.table {
    width: 100%
}

.font {
    font-family: AppFont;
}

.title {
    font-family: AppFont;
    font-size: 25px;
}

.margin-right {
    margin-right: 15px;
}

.sticky {
    position: sticky;
    z-index: 1;
}

.sticky-title {
    top: 0;
}

.sticky-table-options {
    top: 30px;
}

:host /deep/ .mat-header-row .ng-star-inserted {
    position: sticky;
    top: 95px;
    background: white;
    z-index: 1;
}

.background {
    background-color: white
}

.table-element {
    cursor: pointer;
}