<div class="container">
  <div class="row">
    <div class="col-md-12 title">
      KONFERENCJE:
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 sub-title">
        ZACHODNIA
      </div>
      <div class="col-md-12 western-conference-image"
        [@westConferenceTile]="westHoverTile" (mouseover)="changeState('west', 'true')"
        (mouseleave)="changeState('west', 'false')" [routerLink]="['/konferencje','zachodnia']">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 sub-title">
        WSCHODNIA
      </div>
      <div class="col-md-12 eastern-conference-image"
        [@eastConferenceTile]="eastHoverTile" (mouseover)="changeState('east', 'true')"
        (mouseleave)="changeState('east', 'false')" [routerLink]="['/konferencje','wschodnia']">
      </div>
    </div>
  </div>
</div>