<div class="container">
  <div class="row">
    <div class="col-md-12 title">
      DRUŻYNY
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 subtitle western">
        ZACHODNIA
      </div>
      <div class="col-md-12 division" *ngFor="let division of westernDivisions">
        <div class="col-md-12">{{division}}</div>
        <div class="team-western-name" *ngFor="let team of serviceShared.teams">
          <div class="col-md-12" *ngIf="team.division == division">
            {{team.name}}
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 subtitle eastern">
        WSCHODNIA
      </div>
      <div class="col-md-12 division" *ngFor="let division of easternDivisions">
        <div class="col-md-12">{{division}}</div>
        <div class="team-eastern-name" *ngFor="let team of serviceShared.teams">
          <div class="col-md-12" *ngIf="team.division == division">
            {{team.name}}
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>