<div class="row menu">
  <div class="row" style="width: 100%; background-color: rgb(0, 24, 36);">
    <div class="container">
      <div class="col-md-12">
        <div class="row menu-buttons">
          <button class="menu-button" mat-button [routerLink]="['strona-glowna']">Strona główna</button>
          <button class="menu-button" mat-button [routerLink]="['druzyny']">Drużyny</button>
          <button class="menu-button" mat-button [routerLink]="['zawodnicy']">Zawodnicy</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="background-color: rgb(0, 24, 36)">
    <img class="banner" style="width: 100%" src="../../../images/menu/banner.png">
  </div>
</div>