.menu{
    margin-top: 40px;
}
@font-face {
    font-family: 'MenuFont';
    src: url('../../../fonts/hemi-head-426/hemiheadbdit.ttf') 
}
.menu-button{
    font-family: MenuFont;
    font-size: 30px;
}
.sub-menu-button{
    font-family: MenuFont;
    font-size: 15px;
}