<div class="container">
  <div class="row main-page-article" *ngFor="let article of test">
    <div class="col-md-4">
      <img src="../../../../images/menu/main.jpg" style="width: 100%">
    </div>
    <div class="col-md-6">
      <div class="col-md-12 article-title">
        {{article.title}}
      </div>
      <div class="col-md-12 article-text">
        {{article.text}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="col-md-12">
        Autor: {{article.author}}
      </div>
      <div class="col-md-12">
        Data utworzenia: {{article.creationDate | date: 'dd/MM/yyyy'}}
      </div>
      <div class="col-md-12">
        
      </div>
    </div>
  </div>
</div>