.title {
    font-family: AppFont;
    font-size: 25px;
    text-align: center;
}

.sub-title {
    font-family: AppFont;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

.western-conference-image {
    background-image: url(../../../../images/team_screen/lebron.png);
    background-size: cover
}

.eastern-conference-image {
    background-image: url(../../../../images/team_screen/giannis3.png);
    background-size: cover
}