<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 team-logo-background" [ngStyle]="{'background-image': 'url('+player.team.logo+')'}">
          <img src="{{player.photo}}">
        </div>
        <div class="col-md-12">
          <p class="jersey-number-font"><strong>#{{player.jerseyNumber | uppercase}}</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12" style="text-align: right">IMIĘ: <strong>{{player.name | uppercase}}</strong></div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right">DRUGIE IMIĘ: <strong>{{player.secondName | uppercase}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right">NAZWISKO: <strong>{{player.surname | uppercase}}</strong></div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right">WIEK: <strong>{{player.age | uppercase}}</strong></div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right">DRUŻYNA: <strong>{{player.team.city | uppercase}}
            {{player.team.name | uppercase}}</strong></div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right">POZYCJA: <strong>{{player.position | uppercase}}</strong></div>
      </div>
    </div>
  </div>
</div>