<div class="container">
  <div class="row">
    <div class="col-md-4">
      PLAYER PHOTO
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">imie</div>
      </div>
      <div class="row">
        <div class="col-md-12">nazwisko</div>
      </div>
      <div class="row">
        <div class="col-md-12">wiek</div>
      </div>
      <div class="row">
        <div class="col-md-12">druzyna</div>
      </div>
      <div class="row">
        <div class="col-md-12">pozycja</div>
      </div>
      <div class="row">
        <div class="col-md-12">numer</div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">pts</div>
      </div>
      <div class="row">
        <div class="col-md-12">ast</div>
      </div>
      <div class="row">
          <div class="col-md-12">reb</div>
        </div>
    </div>
  </div>
</div>